@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap');

.carousel{
  position: relative;
  height: 60vh;
  overflow: hidden;
  background-color: #383D73;
}

.carousel-wrapper{
  position: relative;
}

.cell img{
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  vertical-align: middle;
}

.center_image td{
  vertical-align: middle;
   text-align: center;
}

.carousel_title{
  color: white;
  font-family: 'Suez One';
  font-size: 26pt;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  line-height: 40px;
  top: 40%;
  min-width: 280px;
}

.carousel_title--medium{
  color: white;
  font-family: 'Suez One';
  font-size: 23pt;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  line-height: 40px;
  top: 50%;
  min-width: 280px;
}

.carousel_event{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-word_mark{
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
  width: 250px;
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel_title{
  top: 50%;
}
.carousel_link{
  top: 73%;
}

/*Mobile*/
@media only screen and (max-width: 1050px){
  .carousel_title--medium{
    color: white;
    font-family: 'Suez One';
    font-size: 16pt;
    text-shadow: 0px 0px 10px rgba(0,0,0,1);
    line-height: 25px;
    top: 40%;
  }
  .carousel-word_mark{
    display: none;
  }
  .carousel{
    height: 50vh;
  }
  .carousel_link{
    top: 55%;
  }
  .carousel_title{
    top: 35%;
    font-size: 20pt;
    line-height: 30px;
  }
}
