---
title: Connect
layout: default
---
<div class="layout_wrapper">
  <h1 class="title">Bible Study & Small Groups</h1>
  <div id="bible-study-small-groups" style="position:absolute; margin-top: -100px;"></div>
  {% for group in site.groups %}
    <div>
      <h2 class="heading">{{group.title}}</h2>
      <div class="content_body content">
        {{group.content | markdownify}}
      </div>
    </div>
  {% endfor %}
  <div>
    <div id="pastor-leadership" style="position:absolute; margin-top: -100px;"></div>
    <h1 class="title">Pastor & Leadership</h1>
  </div>
  {% for leader in site.leaders %}
    <div>
      <h2 class="heading">{{leader.title}}, {{leader.title_role}}</h2>
      <div class="content_body content">
        <img src="{{leader.photo}}">
        {{leader.content | markdownify}}
      </div>
    </div>
  {% endfor %}
  <div>
    <div id="photo-gallery" style="position:absolute; margin-top: -100px;"></div>
    <h1 class="title">Photo Gallery</h1>
  </div>
</div>



<div class="gallery" data-flickity='{"wrapAround": true, "imagesLoaded": true, "pageDots": false, "fullscreen": true}'>
  {%- for image in site.static_files -%}
    {% if image.path contains 'images/uploads' %}
      <div class="gallery-cell">
          <div class="cell">
            <!--data-flickity-lazyload="orange-tree.jpg"-->
            <img src="{{image.path}}">
          </div>
      </div>
    {% endif %}
  {%- endfor -%}
</div>
