---
layout: default
title: Cornerstone
---
<div style="padding: 15px; background: #F04C4D; text-align: center;">
  <a href="/about.html#sunday-service-details" style="text-shadow: 0px 0px 0px rgba(0,0,0,0);" class="link link--white">Come to a <span class="content_time">{{site.data.home.service_details.service_time}}</span><span class="content_period">AM</span> Service</a>
</div>
<div class="carousel-wrapper">
  <img class="carousel-word_mark" src="svg/word_mark_white.svg">
  <div class="carousel" data-flickity='{"wrapAround": true, "imagesLoaded": true}'>
    {%- for event in site.events -%}
      {% if event.priority == true %}
        <div class="carousel-cell">
            <div class="cell">
              <img style="opacity: 1; filter: brightness(.7)" src="{{event.banner_image}}">
              <h1 class="carousel_event carousel_title">{{event.title}}<br>{{event.date | date: '%B %e'}}</h1>
              <a href="{{event.url}}" class="carousel_link carousel_event link link--white">Event Details</a>
            </div>
        </div>
      {% endif %}
    {%- endfor -%}
    {%- for announcement in site.announcements -%}
      <div class="carousel-cell">
          <div class="cell">
            <img style="opacity: 1; filter: brightness(.7)" src="images/uploads/20200213_101357_HDR.jpg">
            <h1 class="carousel_event carousel_title--medium">{{ announcement.announcement }}</h1>
          </div>
      </div>
    {%- endfor -%}
    {%- for event in site.events -%}
      {% if event.priority == false %}
      <div class="carousel-cell">
          <div class="cell">
            <img style="opacity: .2; filter: brightness(.7)" src="{{event.banner_image}}">
            <h1 class="carousel_event carousel_title">{{event.title}}<br>{{event.date | date: '%B %e'}}</h1>
            <a href="{{event.url}}" class="carousel_link carousel_event link link--white">Event Details</a>
          </div>
      </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>
<div style="margin-bottom: 50px;"class="layout_wrapper">
  <h1 class="title--medium">{{site.data.home.mission-statement}}</h1>
</div>

<div class="book_animations">
      <div class="book_group">
        <div class="book_animation">
            <div class="book">
              <a href = "{{site.data.home.featured-content.featured-content-1.content_link}}">
                <div>
                  <img id="book_image1" src="{{site.data.home.featured-content.featured-content-1.image}}"/>
                </div>
                <div class="book_text">
                    <h1 id="text1">{{site.data.home.featured-content.featured-content-1.title}}</h1>
                </div>
              </a>
            </div>
            <svg id="book_hover" >
            <defs>
            </defs><clipPath id="bookPath1">
            <path id="book1" fill="#373D72" d="M182.55,12.39v91.15c0,4.29-2.28,8.25-6,10.39L97.28,159.7c-1.86,1.08-3.93,1.61-6,1.61s-4.15-0.53-6-1.61
            	L6,113.93c-3.71-2.14-6-6.1-6-10.39V12.39C0,8.2,1.99,4.16,5.53,1.9C7.5,0.63,9.75,0,12,0c2.07,0,4.15,0.54,6,1.61l70.53,40.72
            	c1.7,0.98,3.79,0.98,5.49,0l70.53-40.72c1.86-1.07,3.93-1.61,6-1.61c2.25,0,4.5,0.63,6.48,1.9C180.56,4.16,182.55,8.2,182.55,12.39z
            	"/></clipPath>
            </svg>
            <svg id="book_open_hover" >
            <defs>
            </defs>
              <clipPath id="bookPathOpen">
            <path id="book_open1" fill="#373D72" d="M182.55,32.32v91.22c0,5.19-3.34,9.8-8.29,11.41l-79.27,25.77c-1.21,0.39-2.46,0.59-3.71,0.59
            	s-2.51-0.2-3.71-0.59L8.29,134.95C3.35,133.34,0,128.73,0,123.54V32.32c0-2.9,0.91-5.77,2.77-7.99C5.14,21.49,8.54,20,12,20
            	c1.25,0,2.5,0.19,3.71,0.58L89.58,44.6c1.1,0.36,2.29,0.36,3.4,0l73.86-24.02c1.22-0.39,2.47-0.58,3.71-0.58
            	c3.46,0,6.87,1.49,9.24,4.33C181.65,26.56,182.55,29.42,182.55,32.32z"/>
                </clipPath>
            </svg>
        </div>
        <div class="description">
          <p>{{site.data.home.featured-content.featured-content-1.description}}</p>
        </div>
      </div>
      <div class="book_group">
        <div class="book_animation">
            <div class="book">
              <a href = "{{site.data.home.featured-content.featured-content-2.content_link}}">
                <div>
                  <img id="book_image2" src="{{site.data.home.featured-content.featured-content-2.image}}"/>
                </div>
                <div class="book_text">
                    <h1 id="text2">{{site.data.home.featured-content.featured-content-2.title}}</h1>
                </div>
              </a>
            </div>
            <svg id="book_hover" >
            <defs>
            </defs><clipPath id="bookPath2">
            <path id="book2" fill="#373D72" d="M182.55,12.39v91.15c0,4.29-2.28,8.25-6,10.39L97.28,159.7c-1.86,1.08-3.93,1.61-6,1.61s-4.15-0.53-6-1.61
            	L6,113.93c-3.71-2.14-6-6.1-6-10.39V12.39C0,8.2,1.99,4.16,5.53,1.9C7.5,0.63,9.75,0,12,0c2.07,0,4.15,0.54,6,1.61l70.53,40.72
            	c1.7,0.98,3.79,0.98,5.49,0l70.53-40.72c1.86-1.07,3.93-1.61,6-1.61c2.25,0,4.5,0.63,6.48,1.9C180.56,4.16,182.55,8.2,182.55,12.39z
            	"/></clipPath>
            </svg>
            <svg id="book_open_hover" >
            <defs>
            </defs>
              <clipPath id="bookPathOpen">
            <path id="book_open2" fill="#373D72" d="M182.55,32.32v91.22c0,5.19-3.34,9.8-8.29,11.41l-79.27,25.77c-1.21,0.39-2.46,0.59-3.71,0.59
            	s-2.51-0.2-3.71-0.59L8.29,134.95C3.35,133.34,0,128.73,0,123.54V32.32c0-2.9,0.91-5.77,2.77-7.99C5.14,21.49,8.54,20,12,20
            	c1.25,0,2.5,0.19,3.71,0.58L89.58,44.6c1.1,0.36,2.29,0.36,3.4,0l73.86-24.02c1.22-0.39,2.47-0.58,3.71-0.58
            	c3.46,0,6.87,1.49,9.24,4.33C181.65,26.56,182.55,29.42,182.55,32.32z"/>
                </clipPath>
            </svg>
        </div>
        <div class="description">
          <p>{{site.data.home.featured-content.featured-content-2.description}}</p>
        </div>
      </div>
      <div class="book_group">
        <div class="book_animation">
            <div class="book">
              <a href = "{{site.data.home.featured-content.featured-content-3.content_link}}">
                <div>
                  <img id="book_image3" src="{{site.data.home.featured-content.featured-content-3.image}}"/>
                </div>
                <div class="book_text">
                    <h1 id="text3">{{site.data.home.featured-content.featured-content-3.title}}</h1>
                </div>
              </a>
            </div>
            <svg id="book_hover" >
            <defs>
            </defs><clipPath id="bookPath3">
            <path id="book3" fill="#373D72" d="M182.55,12.39v91.15c0,4.29-2.28,8.25-6,10.39L97.28,159.7c-1.86,1.08-3.93,1.61-6,1.61s-4.15-0.53-6-1.61
            	L6,113.93c-3.71-2.14-6-6.1-6-10.39V12.39C0,8.2,1.99,4.16,5.53,1.9C7.5,0.63,9.75,0,12,0c2.07,0,4.15,0.54,6,1.61l70.53,40.72
            	c1.7,0.98,3.79,0.98,5.49,0l70.53-40.72c1.86-1.07,3.93-1.61,6-1.61c2.25,0,4.5,0.63,6.48,1.9C180.56,4.16,182.55,8.2,182.55,12.39z
            	"/></clipPath>
            </svg>
            <svg id="book_open_hover" >
            <defs>
            </defs>
              <clipPath id="bookPathOpen">
            <path id="book_open3" fill="#373D72" d="M182.55,32.32v91.22c0,5.19-3.34,9.8-8.29,11.41l-79.27,25.77c-1.21,0.39-2.46,0.59-3.71,0.59
            	s-2.51-0.2-3.71-0.59L8.29,134.95C3.35,133.34,0,128.73,0,123.54V32.32c0-2.9,0.91-5.77,2.77-7.99C5.14,21.49,8.54,20,12,20
            	c1.25,0,2.5,0.19,3.71,0.58L89.58,44.6c1.1,0.36,2.29,0.36,3.4,0l73.86-24.02c1.22-0.39,2.47-0.58,3.71-0.58
            	c3.46,0,6.87,1.49,9.24,4.33C181.65,26.56,182.55,29.42,182.55,32.32z"/>
                </clipPath>
            </svg>
        </div>
        <div class="description">
          <p>{{site.data.home.featured-content.featured-content-3.description}}</p>
        </div>
      </div>
    </div>

    <div style="background: #373D72; color: white;">
      <div class="three_column">
        <div>
          <h2 style="color: white;" class="heading">Sunday Service at {{site.data.home.service_details.service_time}}am</h2>
        </div>
        <div>
          <h2 style="color: white;" class="heading">Location</h2>
            <div class="content_body">
              <a href="{{site.data.home.service_details.map_link}}" style="text-shadow: 0px 0px 0px rgba(0,0,0,0); color: white; " class="link link--white location_link-index">{{site.data.home.service_details.location}}</a>
            </div>
        </div>
        <div>
          <h2 style="color: white;" class="heading">Parking</h2>
          <div class="content_body content">
          {{site.data.home.service_details.parking_description}}
          </div>
        </div>
      </div>
      <div style="margin-bottom: -7px;"></div>
    </div>
