@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

a{
  font-family: 'Suez One', serif;
  font-size: 23pt;
  color: #373D72;
  list-style-image: url('svg/link.svg');
  margin-left: 25px;
  text-decoration: none;
}
a img{
  position: absolute;
  margin-top: 10px;
  margin-left: -23px;
  height: 22px;
}
