a {
  color: inherit;
  text-decoration: inherit;
}
/*Override Default Margins*/
body{
	margin:0;
}


h2,h1{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
