---
layout: default
title: {{title}}
---

  <!--
  <div class="carousel" data-flickity='{"wrapAround": true, "imagesLoaded": true}'>
      <div class="carousel-cell">
          <div class="cell">
            <h1 class="carousel_event carousel_title">{{page.date | date: '%B %e'}} <br> {{page.title}}</h1>
            <img src="http://cornerstonepres.net/images/holding_hands.jpg">
          </div>
      </div>
    </div>
    -->
<div class="layout_wrapper">
  <h1 class="title">{{page.title}}</h1>

  <div>
    <h2 class="heading">{{page.date | date: '%B %e'}}</h2>
    <div class="content_body content">
      <strong>{{page.date | date: '%A'}} at {{page.date | date: "%l%P"}}</strong>
      <br>
      <a href="{{page.map_link}}" class="link">{{page.location}}</a>
    </div>
  </div>
  <div>
    <div class="content_body content">
      {{content}}
    </div>
  </div>
</div>
