---
layout: default
title: {{title}}
---
{% assign day_of_month = page.date | date: '%e' %}
{% assign last_digit = day_of_month | slice: -1, 1 %}
{% if day_of_month == '11' or day_of_month == '12' or day_of_month == '13' %}
  {% assign page.day_suffix = 'th' %}
{% elsif last_digit == '1'%}
  {% assign page.day_suffix = 'st' %}
{% elsif last_digit == '2'%}
  {% assign page.day_suffix = 'nd' %}
{% elsif last_digit == '3'%}
  {% assign page.day_suffix = 'rd' %}
{% else %}
  {% assign page.day_suffix = 'th' %}
{% endif %}

<div class="carousel-wrapper">
  <!--
  <div class="carousel" data-flickity='{"wrapAround": true, "imagesLoaded": true}'>
      <div class="carousel-cell">
          <div class="cell">
            <h1 class="carousel_event carousel_title">{{page.date | date: '%B %e'}} <br> {{page.title}}</h1>
            <img src="http://cornerstonepres.net/images/holding_hands.jpg">
          </div>
      </div>
    </div>
    -->
<div class="layout_wrapper">
  <h1 class="title">{{page.title}}</h1>

  <div>
    <h2 class="heading">{{page.date | date: '%B %e'}}{{page.day_suffix}}</h2>
    <div class="content_body content">
      <strong>{{page.date | date: '%A'}} at {{page.date | date: "%l%P"}}</strong>
      <br>
      <strong>Where: </strong>
    </div>
  </div>
  <div>
    <div class="content_body content">
      {{content}}
    </div>
  </div>
</div>
